<h1>About</h1>
<p>
	<%= link_to "Cogno", "http://cogno.com" %>
	is a project to improve social learning in bite sized pieces unlike
	<%= link_to "Khan Academy", "http://khanacademy.com"%>
</p>

