<div class="hero-unit">
	<h1>Welcome to Pinoshare</h1>
	<p>
	Share integrated slides easily. 
	<%= link_to "Pinoshare", "http://pinoshare.net" %>

	</p>
	<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %> 
	</p>

  
</div>